
.cardone{
    width: 36.5%;
    padding-top: 2%;
    padding-left: 3%;
}

.one{
background-color:rgb(246, 165, 138) ;
}

.cardtwo{
    width: 38%;
    padding-left: 2.5%;
    padding-top: 2%;
}

.two{
    background-color: rgb(232, 104, 90);
}

.cardthree{
    width: 38%;
    margin-left: -17.5%;
    padding-top: 2%;
}

.three{
    background-color: rgb(161, 81, 80);
}

.cardfour{
    width: 33%;
    padding-left: 3%;
    margin-top: -3.5%;
}

.four{
    background-color: rgb(218, 166, 62);
}

.cardfive{
    width: 33%;
    margin-left: -14%;
    margin-top: -3.5%;
}

.five{
    background-color: rgb(240, 202, 211);
}

.cardsix{
    width: 39%;
    margin-left: -13%;
    padding-top: 3%;
}

.six{
    background-color: rgb(111, 157, 167);
}

.divmain{
    margin-left: 16%;
    margin-top: -1%;

}

.bd{
	height: 90vh;
	width: 99vw;
}